In [1]:
import pandas as pd

In [2]:
df_train = pd.read_parquet("https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-01.parquet")
df_test = pd.read_parquet("https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-02.parquet")

In [3]:
print(df_train.shape,df_test.shape)

(3066766, 19) (2913955, 19)

In [4]:
print("number of column in January data is:",df_train.shape[1])

number of column in January data is: 19

In [5]:
df_train.head(5)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00

In [6]:
df_train['tpep_pickup_datetime'] = pd.to_datetime(df_train['tpep_pickup_datetime'])
df_train['tpep_dropoff_datetime'] = pd.to_datetime(df_train['tpep_dropoff_datetime'])

In [7]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3066766 entries, 0 to 3066765
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   datetime64[ns]
 2   tpep_dropoff_datetime  datetime64[ns]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  airport_fee            float64
dtypes: datetime64[ns](2), float64(12), int64(4), object(1)
memory usage: 444.6+ MB

In [8]:
df_train['duration']= df_train['tpep_dropoff_datetime']-df_train['tpep_pickup_datetime']

In [9]:
df_train.head(5)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,duration
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00,0 days 00:08:26
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00,0 days 00:06:19
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00,0 days 00:12:45
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25,0 days 00:09:37
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00,0 days 00:10:50

In [10]:
df_train['duration'] = df_train.duration.apply(lambda td: td.total_seconds()/60)

In [11]:
# df_train['duration_min'] = df_train['duration'].dt.total_seconds()/60

In [12]:
df_train.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,duration
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00,8.433333
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00,6.316667
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00,12.750000
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25,9.616667
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00,10.833333

In [13]:
df_train['duration'].std()

42.594351241920904

In [14]:
print("the std of the duration in min:",df_train['duration'].std())

the std of the duration in min: 42.594351241920904

In [15]:
df_train['duration'].describe().round(3)

count    3066766.000
mean          15.669
std           42.594
min          -29.200
25%            7.117
50%           11.517
75%           18.300
max        10029.183
Name: duration, dtype: float64

In [16]:
((df_train.duration>=1) & (df_train.duration<=60)).mean()

0.9812202822125979

In [19]:
print("after removing outlier % obs remaining: ",((df_train.duration>=1) & (df_train.duration<=60)).mean()*100)

after removing outlier % obs remaining:  98.1220282212598

In [20]:
df_train = df_train[((df_train.duration>=1) & (df_train.duration<=60))]
df_train.shape

(3009173, 20)

In [21]:
features = ['PULocationID','DOLocationID']

In [22]:
df_train[features]=df_train[features].astype(str)

In [23]:
from sklearn.feature_extraction import DictVectorizer

In [24]:
dv= DictVectorizer()

In [25]:
train_dicts = df_train[features].to_dict(orient = 'records')

In [39]:
X_train = dv.fit_transform(train_dicts)

In [27]:
X_train.shape

(3009173, 515)

In [28]:
print("# columns in the feature matrix:",X_train.shape[1])

# columns in the feature matrix: 515

In [31]:
y_train = df_train['duration'].values

In [32]:
from sklearn.linear_model import LinearRegression

In [33]:
lr = LinearRegression()
lr.fit(X_train,y_train)
y_pred = lr.predict(X_train)

In [34]:
from sklearn.metrics import mean_squared_error

In [35]:
RMSE = mean_squared_error(y_train, y_pred, squared=False)

In [36]:
print("RMSE of liner reg in Train data:",RMSE)

RMSE of liner reg in Train data: 7.6492610279057605

test data prep

In [37]:
df_test['tpep_pickup_datetime'] = pd.to_datetime(df_test['tpep_pickup_datetime'])
df_test['tpep_dropoff_datetime'] = pd.to_datetime(df_test['tpep_dropoff_datetime'])
df_test['duration']= df_test['tpep_dropoff_datetime']-df_test['tpep_pickup_datetime']
df_test['duration'] = df_test['duration'].dt.total_seconds()/60
df_test = df_test[((df_test.duration>=1) & (df_test.duration<=60))]

In [40]:
df_test[features]=df_test[features].astype(str)
test_dicts = df_test[features].to_dict(orient = 'records')
X_test = dv.transform(test_dicts)
y_test = df_test['duration'].values

/tmp/ipykernel_15594/2467079474.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_test[features]=df_test[features].astype(str)

In [41]:
y_pred = lr.predict(X_test)
RMSE_val = mean_squared_error(y_test, y_pred, squared=False)
print("RMSE of the val data:",RMSE_val)

RMSE of the val data: 7.81183265470218

In [42]:
import pickle

In [43]:
with open('models/lin_reg.bin','wb') as f_out:
    pickle.dump((dv,lr),f_out)